{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- owl css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock css %}

{% block javascript%}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
     <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

     <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
{% endblock javascript%}
